.index-nav{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.index-banner img{
    height: 160px;
    width:100%;
}
.index-banner a{
    position: relative;
}
.index-banner a p{
    position: absolute;
    text-indent: 10px;
    color: #fff;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,.5);
}
.list-box{
    text-align: center;

}
.icon-box img{
    width: 2rem;
    height: 0.5rem;
}
.tabs-box{
    border-bottom: 1px solid #eee;
    padding: 0.3rem 0.5rem;
}
.tabs-box .txt-title{
    margin:0 0.7rem;
}
.tabs-box .txt-title-on{
    border-bottom: 0.1rem solid #E8924D;
}
.tabs-title{
    margin-top: 0.5rem;
}