.list-group-item{
    float: left;
    width: 94%;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.list-group-item dl{
    float: left;
}
.list-group-item .img{
    width: 30%;
    margin-right: 6px;
}
.list-group-item .img img{
    width: 100%;
}
.list-group-item .details{
    width: 65%;
}
.list-group-item .baoming-img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    vertical-align: middle;
}
.list-group-item .phone{
    float: right;
}
.list-group-item .name{
    margin-right: 16px;
}
.list-group-item .phone img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}