.weui-cells:before, .weui-cells:after {
    border: 0;
    height: 0;
}

.weui-cells {
    margin-top: 0;
    padding: 0.5rem;
}

.weui-cell__bd {
    padding-left: 0.5rem;
}

.weui-cell__hd img {
    border-radius: 50%;
}

.weui-grid__icon {
    width: 2.5rem;
    height: 2.5rem;
}

.weui-cell:before {
    border-top: 0;
}

.weui-cell {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

.weui-grids {
    float: left;
    padding: 0;
    width: auto;
}

/*center-management.html*/
.tabs-title {
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #F78C3C;
}

.tabs-title .tabs-title-on {
    border-bottom: 2px solid #F78C3C;
}

.swiper-container, .swiper-container2 {
    height: 100%;
}

.weui-grid {
    /* position: relative; */
    float: left;
    padding: 0;
    width: auto;
}

.weui-grid:before, .weui-grids:after, .weui-grid:after, .weui-grids:before {
    border: 0;
}

.lists-container {
    display: none;
    overflow: hidden;
    padding: 0.3rem 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.img-box {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
}

.lists-container .lists-box {
    float: left;
    width: 33%;
}

.img-box img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.txt-title-darkblack {
    padding: 0 0 0.5rem 0;
}

/*centerManage-rosterdetails.html*/

.pingjia-pos {
    padding-left: 0.5rem;
}

.performance-box {
    display: block;
    border-top: 1px solid #ddd;
}

.txt-size-medium {
    text-align: center;
}

.view-btn {
    margin: 0 auto;
    padding: 0.3rem 1rem;
    width: 50%;
    background: rgb(231, 145, 76);;
    text-align: center;
    line-height: 1rem;

}

/*student-course-details.html*/

/*students-leave-lists.html*/

.list-item {
    border-bottom: 1px solid #e5e5e5;
}

/*teachers-plansLists.html*/

/*teachers-plansLists-details.html*/

.weui-tab {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 95%;
    height: 97%;
    /*background:#fff;*/
}

.details-container {
    border-radius: 5px;
    position: relative;

}

.details-container li:nth-child(odd) {
    padding-left: 0.5rem;
    background: rgb(237, 237, 237);
}

.details-container li:nth-child(even) {
    padding: 0.5rem 0 0.7rem 0.5rem;
    background: rgb(244, 244, 244);
    color: #000;
}

.details-container li:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.details-container li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.txt-time {
    position: absolute;
    right: 1rem;
    top: 0;
}

.top-txt {
    height: 2rem;
    line-height: 2rem;
}