/*kindergarden-management.html*/
.tabs-title {
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #F78C3C;
}

.tabs-title .tabs-title-on {
    border-bottom: 2px solid #F78C3C;
}

.weui-cells {
    margin-top: 0;
    overflow-y: scroll;
}
.weui-cells:after{
    bottom:auto;
}

.weui-grid {
    /* position: relative; */
    float: left;
    padding: 0;
    width: auto;
}

.weui-cell__hd img {
    border-radius: 50%;
}

.weui-grid:before, .weui-grids:after, .weui-grid:after, .weui-grids:before {
    border: 0;
}

.weui-cell {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

.weui-grid__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.weui-cell__bd {
    padding-left: 0.5rem;
}

.lists-container {
    display: none;
    overflow: hidden;
    padding: 0.3rem 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.img-box {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
}

.lists-container .lists-box {
    float: left;
    width: 33%;
}

.img-box img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.performance-box {
    display: block;
    border-top: 1px solid #ddd;
}

.txt-size-medium {
    text-align: center;
}

.small-box {
    text-align: center;
    margin: 0 auto;
}

.small-box .item-box {
    display: inline-block;
    float: left;
    width: 44%;
    /*background: #fff;*/
    text-align: center;
    margin: 3%;
    margin-top: 0;
    /*margin-bottom: 0;*/

}

.box-container {
    overflow: hidden;

    background: #F4F4F4;
    border-bottom: 1px solid #ddd;
}

.box-container:after{
    content: '';
    clear:both;
}
.g-txt-title {
    margin-left: 3%;
    padding: 0.3rem;
}

.txt-content {
    background: #fff;
}

.small-txt-title {
    background: #324FC1;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.item-box .txt-content{
    color:#000;
}
.txt-content.small-txt-title{
    color: #fff;
}
.u-txt-radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.icon-container img {
    width: 35px;
}
.swiper-container2{
    min-height: 700px;
}


/*choose-date.html*/
.weui-tab {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}
.details-container {
    border-radius: 5px;
    position: relative;
}

#demo {
    width: 100%;
    /* margin: 150px auto; */
    margin: 0 auto;
}

.comment-mask {
    position: fixed;
    /*bottom: -15rem;*/
    background: #fff;
    z-index: 999;
    width: 100%;
    height: 100%;
}

@keyframes myfirst {
    from {
        bottom: 0rem;
    }
    to {
        bottom: 80%;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    from {
        bottom: 0rem;
    }
    to {
        bottom: 80%;
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {
        bottom: 0rem;
    }
    to {
        bottom: 80%;
    }
}

@-o-keyframes myfirst /* Opera */
{
    from {
        bottom: 0rem;
    }
    to {
        bottom: 80%;
    }
}

.popMask {
    background: #fff;
    bottom: 80% !important;
    -webkit-animation: myfirst 0.3s;
    animation: myfirst 0.3s;
}

.comment-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 5px;

    height: 2rem;
    line-height: 2rem;
}

.popBtn {
    font-size: 0.73rem;
}

.btn-title {
    background: rgb(230, 128, 55);
}

.add-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0.2rem;
}

.g-details-txt {
    text-align: left;
}

/*kindManage-rosterdetails.html*/
.weui-cell:before {
    border-top: 0;
}

.weui-grids {
    float: left;
    padding: 0;
    width: auto;
}

.pingjia-pos {
    padding-left: 0.5rem;
}

.list-item{
    border-bottom:1px solid #e5e5e5 ;
}

/*teacher-details-addComment.html*/
.feedback-container textarea{
    border:0;
    width: 100%;
    height: 5rem;
    font-weight: normal;
}
.feedback-container{
    position: relative;
    padding: 0.3rem;
    border: 1px solid #ddd;
}

.feedback-container img{
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0;
    width:3rem;
    height:3rem;

}
.feedback-container input{
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    padding: 0.5rem 0;
}

.view-btn {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    margin-top: 40%;
    text-align: center;
    line-height: 1rem;
    border-radius: 5px;
    width: 50%;
    background: rgb(230, 128, 55);;
}

.check-feedback p{
    margin-top: 2rem;
    text-align: center;
    font-weight: normal;
    color:rgb(230, 128, 55);;

}