.details-container{
    padding: 8px;
}
.details-container img{
    width: 100%;
}
.zjy-content{
    margin-top: 8px;
    margin-bottom: 8px;
}
.zjy-content a{
    float: right;
    color: #F98B3C;
}
.transform-block{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 6px;
    background: #777777;
    transform: rotate(45deg);
}
.big-spacing{
    margin-top: 20px;
    margin-bottom: 20px;
}

.join-baby-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.join-baby-container li{
    list-style: none;
}
.join-baby-container .baby-logo{
    text-align: center;
    width: 30%;
    margin-right: 10px;
    margin-top: 6px;
}