body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Microsoft Yahei";
}

/* tab页高度 */
.swiper-container-content{
    height: 100%;
}
.swiper-wrapper{
    height: 100%;
}
.swiper-container2{
    height: 100%;
}