/*personal.html*/
.weui-cells {
    margin-top: 0;
    height: 2.5rem;
    line-height: 2.5rem;
}
.weui-cells:after, .weui-cells:before {
    border: 0;
}

.weui-cell {
    padding: 0 15px;
}


.weui-cell_access .weui-cell__ft:after {
    border-width: 1px 1px 0 0;
}

.banner-box {
    position: relative;
    overflow: hidden;
}

.banner-box img {
    float: left;
}

.banner-box, .banner-box img {
    width: 100%;
}

.head-pic {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    width: 3rem;
    height: 3rem;
}

.head-pic-item {
    width: 1.5rem;
    height: 1.5rem;
}

.head-pic img, .weui-grid__icon, .weui-grid__icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.txt-name {
    width: 100%;
    position: absolute;
    top: calc(50% + 1.5rem);
    text-align: center;
}

.txt-title-darkblack {
    font-weight: normal;
    color: #fff;
}

.txt-title {
    padding-left: 0.3rem;
}

.view-btn {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    margin-top: 40%;
    text-align: center;
    line-height: 1rem;
    border-radius: 5px;
    width: 50%;
    background: rgb(230, 128, 55);;
}

.weui-tabbar{
    background-color: rgb(26,27,31);
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
    /*color: rgb(153,152,152);*/
    color: #fff;
}
/*personal-details.html*/

.list-item {
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #e5e5e5;
}

.head-pic {
    width: 2rem;
    height: 2rem;
}

.head-pic img {
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
}

/*about-us.html*/
.tabs-title {
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #F78C3C;
}

.tabs-title .tabs-title-on {
    border-bottom: 2px solid #F78C3C;
}
.swiper-container, .swiper-container2 {
    height: 100%;
}

.weui-cell__hd img {
    border-radius: 50%;
}

.contact-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box {
    text-align: center;
}

.logo-box img {
    width: 60%;
}

.phone-box {
    text-align: center;
    /*width:60%;*/
    display: flex;
    align-items: center;
    justify-content: center;;
}

.phone-box img {
    width: 50%;
}

.my-footer {
    position: absolute;
    text-align: center;
    margin-top: 2.5rem;
}

.feedback-container textarea{
    border:0;
    width: 100%;
    height: 5rem;
    font-weight: normal;
}
.feedback-container{
    position: relative;
    padding: 0.3rem;
    border: 1px solid #ddd;
}

.feedback-container img{
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0;
    width:3rem;
    height:3rem;

}
.feedback-container input{
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    padding: 0.5rem 0;
}

.check-feedback p{
    margin-top: 2rem;
    text-align: center;
    font-weight: normal;
    color:rgb(230, 128, 55);;
}
/*check-feedback.html*/
.txt-content{
    color:rgb(231,145,76);
}

/*mailbox-details.html*/

.notice-details{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.notice-details img{
    width: 95%;
    margin-top: 20px;
}
.notice-container{
    width: 80%;
    height: 400px;
    position: absolute;
    top: 80px;
    left: 10%;
    overflow: auto;
    overflow-x: hidden;
}
.notice-container p{
    width: 100%;
    word-break:break-all;
}
.notice-container .title{
    text-align: center;
}
.notice-container .content{
    text-align: left;
    text-indent: 32px;
    margin-top: 10px;
}
.notice-container .name{
    text-align: right;
    margin-top: 10px;
}
.notice-container .time{
    text-align: right;
}

/*modify-pwd.html*/
html{
    overflow: hidden;
    background: #e5e5e5;
}
.weui-tab {
    overflow: hidden;

}
.list-item {
    height: 4rem;
    line-height: 2rem;
    border-bottom: 1px solid #e5e5e5;
}

.list-item input {
    border: none;
    width: 100%;
    color: #888;
    font-weight: normal;
}

.head-pic img {
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
}
.input-container{
    /*border:1px solid green;*/
    width: 80%;
    height: 60%;
    margin: 0 auto;
    margin-top: 20%;
}
